{{#if wantFlow}}
// @flow
import * as React from 'react';
{{else}}
import React from 'react';
import PropTypes from 'prop-types';
{{/if}}

{{#if wantFlow}}
type Props = {

};
{{/if}}

export const Component = (props{{#if wantFlow}}: Props{{/if}}) => {
  return (
    <div>
    </div>
  );
}

{{#unless wantFlow}}
Component.propTypes = {

};
{{/unless}}

Component.displayName = '{{ properCase componentName }}';
